extends layout

block content

    div.row.teasers
        div.col-12.col-lg-4.col-md-4.col-sm-4: div.inner
            a(href='Projekte/Grafix-js')
                h3 Grafix.js
                p Grafix.js ist ein Open-Source JavaScript Toolkit zur Manipulation des HTML5 Canvas-Elementes. Es stellt eine Sammlung an Funktionen und Klassen bereit, die das Erstellen von Grafiken sowie das Erstellen von interaktiven Webapplikationen mit Canvas deutlich vereinfachen. Weiterhin bietet Grafix.js Bibliotheken zur einfachen Animation, Bild-/Pixelmanipulation sowie zum Erfassen von Benutzereingaben.
            div.title: a(href='/Projekte/Grafix-js') Mehr Informationen
        div.col-12.col-lg-4.col-md-4.col-sm-4: div.inner
            a(href='/Projekte/Gamix-js')
                h3 Gamix.js
                p Anstatt Grafix.js aufzublähen und mit zu vielen, sehr spezifischen Funktionen vollzupacken, wurde eine weitere Open-Source Bibliothek auf Basis von Grafix.js entwickelt. Gamix.js ist eine HTML5 Game Engine und erlaubt die völlig simple und schnelle Erstellung von umfangreichen HTML5 Games. Bepackt mit einem gesamten Framework an Tools zur Spieleerstellung lassen sich Spiele kreieren, die auf sämtlichen Geräten mit einem halbwegs aktuellen Browser nahtlos funktionieren werden.
            div.title: a(href='/Projekte/Gamix-js') Mehr Informationen
        div.col-12.col-lg-4.col-md-4.col-sm-4: div.inner
            a(href='/Projekte/Der-Rework')
                h3 Der Rework
                p Das Redesign der DevMonks Website spiegelt die Einstellung unserer Arbeit wieder. Performanter und professioneller Code gebündelt mit minimalistischen, dynamischen Designs um den User an das zu bringen, was wirklich wichtig ist: Information. Dies ist die erste von uns produzierte, online präsentierte Website, die auf einer Node.js Basis arbeitet. Lediglich ein Wegweiser, um uns dem Ziel näher zu bringen: Ein performantes Web. Der gesamte Source-Code dieser Seite ist frei verfügbar.
            div.title: a(href='/Projekte/Der-Rework') Mehr Informationen
    
    div.panel
        
        h1 
            span.glyphicon.glyphicon-cog
            span Software Entwicklung

        p.
            Gute Software muss nicht teuer sein. Ein Programmierer ist so viel mehr als ein Beruf, eher doch oft eine Lebensaufgabe. Sobald es nicht mehr um den maximalen Profit, sondern um interessante Projekte, Wegweiser für die Zukunft und aktuelle Technologien geht, gibt es Menschen, die diese fördern und vorantreiben wollen.
        
        p.
            DevMonks hat es sich zur Aufgabe gemacht, die Welt auf eine Welle von neuen Technologien und Geräten vorzubereiten, damit jeder die Möglichkeit hat, die Vorteile dieser Technologien zu erkennen, verstehen und sie zu nutzen.

        p.
            Du hast ein Software-Projekt, aber weißt nicht genau, wie und womit du es umsetzen kannst? Wir helfen dir dabei!

        p.
            Von der Planung bis hin zur Erstellung von Prototypen und Modellen über die Umsetzung der Software bis hin zur Fertigstellung und zum Marketing und Verkauf stehen wir dir zur Seite und betreuen deine Software auf allen Wegen und Prozessen, die sie durchlaufen mag.

        p.
            Unsere Programmierer sind sorgfältig ausgewählte, junge Menschen, die ihr Herz der Softwareentwicklung gewidmet haben und bereits rein aus Prinzip qualitative und hochoptimierte Software produzieren.

        p.
            Auch den angehenden, erfolgreichen Menschen möchten wir natürlich die Möglichkeit bieten, einer eigens produzierten Software näher zu kommen, deshalb sind wir jederzeit dafür offen, uns dein Projektkonzept anzuhören und mit dir zusammen eine Umsetzung zu planen.


    div.panel
        
        h1 
            span.glyphicon.glyphicon-link
            span Webentwicklung

        p.
            Wenn sich eine Technologie in einem permanenten Wandel befindet, dann ist es notwendig, sich auf dem Laufenden zu halten und aktuelle Technologien zu verfolgen und voranzutreiben.

        p.
            Das Web hat in den Vergangenen Jahren viele Facetten gezeigt und Entwickler auf der ganzen Welt immer wieder dazu genötigt, umzudenken. Dieses riesige Konstrukt aus Domains, Webspaces, Suchmaschinen, Design und einem großen Haufen Programmierarbeit kann oft erschlagend wirken.

        p.
            Wir haben dieses Biest im Griff! Unsere Generation ist mit dem Web zusammen gewachsen, deshalb ist es nur verständlich, dass wir wissen, wo die Reise hin geht. Ob Planung, Hosting, Design oder Web-Programmierung, die DevMonks Programmierer sind mit einem Satz an Programmiersprachen und einer ganzen Menge Erfahrung zur Stelle.

        p.
            Von der kleinen, privaten Homepage bis hin zur Enterprise-Web-Applikation, es gibt nur wenige Dinge, die sich heutzutage im Web nicht realisieren lassen.


    div.panel
        
        h1 
            span.glyphicon.glyphicon-phone
            span Mobile Entwicklung

        p.
            Die heutige Welt ist eine aktive Welt, in der aktive Menschen leben. Aktive Menschen brauchen Mobilität, was der vor einigen Jahren entstandene Boom bezüglich Smartphones, Tablets und ähnlichen mobilen Geräten nur beweist. Schon längst reicht es nicht mehr, seine Software auf eine Bildschirmgröße und 2 Eingabemethoden zu beschränken, denn nicht nur, dass die mobilen User sich ähnliche Funktionen wünschen, wie auf dem Heim-PC, als Softwarehersteller lassen sich so außerdem größere Audienzen erfassen.

        p.
            Dank den heutigen Webstandards und einem Web, dass einen permanenten, kreativen Wandel genießt, ist es schon seit einiger Zeit kein Problem mehr, Applikationen zu erstellen, die von Überall aus erreichbar sind, sich auf jedem Gerät gleich gut anfühlen und dieselben Funktionalitäten bereitstellen. Egal ob Smartphone, Tablet, Desktop-PC, Toaster oder Kühlschrank, jedes Gerät hat die Möglichkeit, deine Software zu verwenden.


    div.panel
        
        h1 
            span.glyphicon.glyphicon-retweet
            span Open-Source

        p.
            Das Geben und Nehmen ist ein nützlicher Prozess, um sich gegenseitig voranzutreiben und Großartiges zu kreieren.

        p.
            Wir lieben Open-Source. Es gibt eine riesige Palette an wunderbarer, qualitativer Open-Source Software, die wir rege nutzen und auch gerne erweitern. Damit dies kein einseitiger Prozess ist, stellen wir viele unserer internen Bibliotheken und Projekte mit gesamtem Quelltext öffentlich für euch zur Verfügung. Dadurch können wir gezielt auf Kritik eingehen, Community-Patches ermöglichen und die Welt ein kleines Stück schöner machen.

        p.
            Du kannst uns jederzeit mitteilen, wenn du dein Projekt öffentlich zur Verfügung stellen möchtest, wir sorgen dafür, dass das Projekt vorangetrieben wird und die Community mit Informationen und Support versorgt ist.
            

    div.panel
        
        h1 
            span.glyphicon.glyphicon-bullhorn
            span In eigener Sache

        p.
            Natürlich sind wir keine puren Umsetzer, auch aus unseren Köpfen sprießen und wachsen interessante Konzepte und Ideen, die wir desöfteren auch bis zur Umsetzung treiben.
            
        p.
            Sowohl öffentlich als auch intern entwickeln wir in unserer Freizeit kleine und größere Projekte, die entweder einen tieferen Zweck besitzen oder lediglich Proof-of-Concept sind.

        p.
            Auf konkrete Anfragen gehen wir natürlich ein und stellen gerne spezifische Projekte vor, um sowohl Feedback als auch Verkaufs- und Vermarktungsmöglichkeiten erhalten zu können.