extends layout

block content

    div.row.teasers.projects
        div.col-12: div.inner
            a(href='Projekte/Grafix-js')
                h3 Grafix.js
                div.row
                    div.col-6: img(src='/images/projects/grafix.png')
                    div.col-6

                        p Grafix.js ist ein Open-Source JavaScript Toolkit zur Manipulation des HTML5 Canvas-Elementes. Es stellt eine Sammlung an Funktionen und Klassen bereit, die das Erstellen von Grafiken sowie das Erstellen von interaktiven Webapplikationen mit Canvas deutlich vereinfachen.

                        p Bestückt mit Möglichkeiten zur einfachen Erstellung von einfachen und komplexen Formen und Farben, Animations-Werkzeugen und einer Live-Bühne, die alle völlig unabhängig voneinander genutzt werden können, ist Grafix.js das perfekte Toolkit, um seine Website mit schönen, interaktiven Diagrammen, aufwendigen Animationen oder sogar ganzen Spielen und grafischen Applikationen zu erweitern.

            div.title: a(href='/Projekte/Grafix-js') Mehr Informationen
        div.col-12: div.inner
            a(href='/Projekte/Gamix-js')
                h3 Gamix.js
                div.row
                    div.col-6: img(src='/images/projects/gamix.png')
                    div.col-6
                        
                        p Anstatt Grafix.js aufzublähen und mit zu vielen, sehr spezifischen Funktionen vollzupacken, wurde eine weitere Open-Source Bibliothek auf Basis von Grafix.js entwickelt.

                        p Gamix.js ist eine HTML5 Game Engine und erlaubt die völlig simple und schnelle Erstellung von umfangreichen HTML5 Games. Bepackt mit einem gesamten Framework an Tools zur Spieleerstellung lassen sich Spiele kreieren, die auf sämtlichen Geräten mit einem halbwegs aktuellen Browser nahtlos funktionieren werden.

            div.title: a(href='/Projekte/Gamix-js') Mehr Informationen
        div.col-12: div.inner
            a(href='/Projekte/Der-Rework')
                h3 Der Rework
                div.row
                    div.col-6: img(src='/images/projects/devmonks-rework.png')
                    div.col-6
                        
                        p Das Redesign der DevMonks Website spiegelt die Einstellung unserer Arbeit wieder. Performanter und professioneller Code gebündelt mit minimalistischen, dynamischen Designs um den User an das zu bringen, was wirklich wichtig ist: Information.

                        p Dies ist die erste von uns produzierte, online präsentierte Website, die auf einer Node.js Basis arbeitet. Lediglich ein Wegweiser, um uns dem Ziel näher zu bringen: Ein performantes Web. Der gesamte Source-Code dieser Seite ist frei verfügbar.
            div.title: a(href='/Projekte/Der-Rework') Mehr Informationen