extends layout

block content
    
    //-
        div.row.teasers.projects
            div.col-12: div.inner
                a(href='http://roberthellmann.de', target='_blank')
                    h2 Robert Hellmann
                    h3 Frontend-Designer, Management
                    div.row
                        div.col-6: img(src='/images/team/torben.png')
                        div.col-6: p.

                            Diesen Text muss der Robert leider noch schreiben.
                div.title Zu Robert's Blog
            div.col-12: div.inner
                a(href='http://torben-koehn.de', target='_blank')
                    h2 Torben Köhn
                    h3 Programmierer, Administrator
                    div.row
                        div.col-6: img(src='/images/team/torben.png')
                        div.col-6: p.

                            Diesen Text muss der Torben leider noch schreiben.
                div.title Zu Torben's Blog
            div.col-12: div.inner
               a(href='http://cagatay-ulubay.de', target='_blank')
                    h2 Cagatay Ulubay
                    h3 Programmierer, Administrator
                    div.row
                        div.col-6: img(src='/images/team/torben.png')
                        div.col-6: p.

                            Diesen Text muss der Cagatay leider noch schreiben.
                div.title Zu Cagatay's Blog
    div.panel

        h2 Das Team

        p Das DevMonks Team besteht aus jungen, engagierten Programmierern aus Berlin und Umgebung, die sich ihrer Sache mit Herz gewidmet haben.

        p Das Gefühl, eine Arbeit durch Software erleichtert zu haben und sie dank Open-Source auch zukünftig für andere Menschen zu erleichten, ist ein Großartiges und wir genießen es in vollen Zügen.

        h3 Die Kompetenzen

        p Zu unserem Kompetenzbereich zählt hauptsächlich die Entwicklung im Web. Dazu zählt jegliche Art von Internetseite oder Web-App, die das Internet heutzutage zur Verfügung stellen mag.

        p Auch allgemeine IT-Kompetenzen werden bei uns Groß geschrieben, dazu zählt die Administration von Netzwerk-Hardware, das Einrichten von Servern und Workstations, das Web-Hosting sowie die Beratung zu Hardware, Software und Infrastruktur.

        h3 Die Prinzipien

        p DevMonks Software ist grundsätzlich saubere Software. Wir legen viel Wert darauf, dass unsere Software wartbar und erweiterbar bleibt und es ihr weder an Funktion, noch an Performance fehlt.

        p Penibel achten wir darauf, eine Software kompatibel, stabil und unheimlich performant zu halten.

        h3 Kontakt

        p Du kannst dich gerne jederzeit mit den DevMonks Entwicklern in Verbindung setzen und genau die Frage stellen, die dir auf dem Herzen liegt.

        p Dazu kannst du das Kontaktformular dieser Seite nutzen. Alternativ kannst du auch direkt eine E-Mail senden:

        p
            span.glyphicon.glyphicon-envelope(style='margin-right: 10px')
            a(href='mailto:info@devmonks.net', itemprop='email') info@devmonks.net

        p Auch über Anrufe freuen wir uns jederzeit

        p
            span.glyphicon.glyphicon-phone(style='margin-right: 10px')
            a(href='tel:+4915255856788', itemprop='telephone') 0152 / 558 567 88

        p
            br
            br
            a.btn.btn-primary.btn-large(href='/Kontakt', target='_blank', title='Zum Kontaktformular') Zum Kontaktformular




