extends ../layout

block content

    div.panel

        h2 Gamix.js

        p Gamix.js ist sowohl der Ursprung, als auch die Tochter der Grafix.js Bibliothek. Während der Entwicklung von Grafix.js (ehem. "DevMonks Graphics", ein einfaches jQuery Plugin) war das Ziel der Bibliothek ein einfaches Spiel. Die Möglichkeiten, die uns das HTML-Element Canvas bot, waren allerdings überwältigend und wir hatten die Notwendigkeit, die Bibliotheken aufzuteilen.

        p Nicht jeder, der mit Canvas arbeitet, möchte ein Spiel erstellen. Grafix.js bietet allgemeine Canvas-Manipulationsmöglichkeiten, Gamix.js baut auf Grafix.js auf und stellt eine vollständige HTML5 Game Engine bereit.

        h3 Das Frontend

        p Mit Gamix.js lässt sich ein Frontend auf ganz normaler HTML-Basis bauen. Einzelne Canvas-Elemente innerhalb dieser Basis können als Game Screens definiert werden und sind von diesem Punkt an eine wahre Animationsmaschine.

        p Um die Erstellung der Benutzeroberflächen zu vereinfachen, bietet Gamix.js eine User-Interface Komponente, die mithilfe von Skins simple oder aufwendigere Spieloberflächen auf Basis von HTML und Canvas kreiert.

        p Diverse, dynamische Charakter-Modelle, Tilesets und Game-spezifische Animationsfunktionen sorgen dafür, dass dein Spiel nicht nur großartig funktioniert, sondern auch großartig aussieht.

        p Wer würde nicht gerne morgens in der U-Bahn sitzen und dasselbe Spiel spielen, dass er auch Zuhause am Desktop gerne spielt? Mit Gamix.js ist dies nahtlos möglich. Ein Spiel, dass mit Gamix.js geschrieben wird, passt sich jedem Gerät automatisch an und erlaubt verschiedenste Arten von Benutzereingaben.

        h3 Das Backend

        p Damit die Erstellung des Spiels noch schneller voran geht, bringt Gamix.js nicht nur ein Frontend, sondern auch ein Backend mit sich. Ein Multiplayer-Spiel zu erstellen, war nie so einfach.

        p Durch ein umfangreiches Model-System, dass im Client gespiegelt wird, werden Spieldaten quasi automatisch hin- und hergesendet, validiert und verarbeitet.

        p Die Node.js Basis sorgt hier für eine hochperformante Basis, um ein flüssiges Spielerlebnis zu gewährleisten.

        
        h3 Der Source Code

        p Der Source Code befindet sich für öffentlichen Zugriff wie üblich auf GitHub.

        p
            a.btn.btn-success.btn-large(href='https://github.com/DevMonks/gamix-js/archive/master.zip', title='Den Gamix.js Source Code herunterladen') Zip Download
            a.btn.btn-primary.btn-large(href='https://github.com/DevMonks/gamix-js', target='_blank', title='Gamix.js auf GitHub') Auf GitHub ansehen
            

        