extends ../layout

block content

    div.panel

        h2 Grafix.js

        p Grafix.js ist ein Open-Source JavaScript Toolkit zur Manipulation des HTML5 Canvas-Elementes. Es stellt eine Sammlung an Funktionen und Klassen bereit, die das Erstellen von Grafiken sowie das Erstellen von interaktiven Webapplikationen mit Canvas deutlich vereinfachen.

        p Bestückt mit Möglichkeiten zur einfachen Erstellung von einfachen und komplexen Formen und Farben, Animations-Werkzeugen und einer Live-Bühne, die alle völlig unabhängig voneinander genutzt werden können, ist Grafix.js das perfekte Toolkit, um seine Website mit schönen, interaktiven Diagrammen, aufwendigen Animationen oder sogar ganzen Spielen und grafischen Applikationen zu erweitern.

        h3 Das Canvas Element
        
        p Im Zuge der letzten Jahre hat das Web einen großen Wandel durchlaufen. Mobile Geräte dominieren die Nutzerzahlen der Internetseiten und die Betreiber sind dazu genötigt, umzudenken und sich anzupassen.

        p Der Webstandard HTML5 kam deshalb mit vielen, neuen Elementen, die Dinge wie unsichere Plugins im Web ablösen sollten. Mit <strong>Canvas</strong>, einer HTML-Leinwand, ist man in der Lage, eigene Formen und Elemente auf einer durch HTML definierten Leinwand zu zeichnen.

        p Im ersten Moment denkt man dabei womöglich an Paint-ähnliche Programme, mit denen man einzelne Elemente zeichnen und eventuell sogar animieren kann. Wir allerdings, denken einen Schritt weiter. Durch einen weiteren Webstandard namens requestAnimationFrame ist man in der Lage, das Canvas zum Leben zu erwecken und auch komplexe Form-Sammlungen in einem Rahmen von 60 Frames pro Sekunde zu zeichnen.

        p Das Besondere daran ist, dass das Canvas-Element nicht nur auf Desktop-PCs angezeigt werden kann. JavaScript und Canvas funktionieren auf jedem Gerät, dass einen halbwegs aktuellen Browser besitzt, eingeschlossen der meisten Smartphones und Tablets.

        h3 Das Toolkit

        p Grafix ist weder eine Engine, noch ein Framework. Grafix baut auf dem HTML5 Canvas Element auf und vereinfacht die Funktionalitäten, die unser der Browser im Grunde bereits zur Verfügung stellt.

        p Das Motto ist grundsätzlich: <strong>Halte es so einfach wie möglich!</strong>

        p Jede Implementierung wird sorgfältig durchdacht und umfangreich getestet, bevor sie als stabil freigegeben wird. Das sorgt dafür, dass sich die Grafix-Features unheimlich einfach nutzen lassen und trotzdem maximale Funktionalität gewährleisten.

        p Grafix ist stark auf Performance ausgerichtet. Auf umständliche, performance-fressende oder sinnlose Konstrukte wurde vollständig verzichtet und es wird immer nur das gezeichnet, was wirklich gezeichnet werden muss.

        h3 Die Möglichkeiten

        p Die Möglichkeiten von Grafix.js ähneln denen von Adobe's Flash. Es fängt bei kleinen, animierten Filmen an, die mit sanften Effekten und Filtern beeindrucken und geht hin bis zu größeren 2D-Games, die sich sowohl auf dem Desktop, als auch auf dem Smartphone problemlos und angenehm spielen lassen.

        h3 Fertigstellung

        p Grafix.js ist noch nicht fertiggestellt. Das Projekt ist Open Source und wir sind jederzeit für Input und konstruktive Kritik offen. Auch teilnehmende Entwickler sind natürlich jederzeit gerne gesehen.

        p Wir versuchen weitesgehend, das auf GitHub aktualisierte Git Repository so aktuell und stabil wie möglich zu halten.

        p Es folgen weiterhin im Laufe der nächsten Wochen einige größere, beeindruckendere Demos, es lohnt sich also, immer wieder reinzuschauen.

        h3 Der Source Code

        p Der Source Code befindet sich für öffentlichen Zugriff wie üblich auf GitHub.

        p
            a.btn.btn-success.btn-large(href='https://github.com/DevMonks/grafix-js/archive/master.zip', title='Den Grafix.js Source Code herunterladen') Zip Download
            a.btn.btn-primary.btn-large(href='https://github.com/DevMonks/grafix-js', target='_blank', title='Grafix.js auf GitHub') Auf GitHub ansehen
            

        